/*
table, th, td {
	text-align: center;
	border: solid;
	border-width: thin;
	border-collapse: collapse;
}
*/


form {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

table {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	max-height: 600px;
}

h1 {
	margin-left: 10px;
}

.card-style {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
    transition-property: min-height;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#table-container {
	padding-right: 15px;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 20px;
}

#form-container {
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 20px;
}

#Delete {
	margin-left: 5px;
}


.col-md-12 {
/*
	background-color: #FFEB3B;
*/
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	background: #FFEB3B; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #FFEB3B, #FFFF8D); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #FFEB3B, #FFFF8D); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #FFEB3B, #FFFF8D); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #FFEB3B, #FFFF8D); /* Standard syntax */
}

